* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
                                                    GENERIC CLASS
*/
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.background-white {
    background-color: #ffffff;
}

.background-violet {
    background-color: #988adf;
}

.background-light-blue {
    background-color: #c3d9fc;
}

.container {
    width: 100%;
}

/*
                                                    HEADER
*/
header {
    background-color: #5876f7;
    width: 100%;
    height: 3rem;
    padding: .3rem;

    position: fixed;
}

header div.logo {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

header nav {
    width: 50%;
    height: 100%;
    border: 1px solid black;
    text-align: end;
}

/*
                                                    MAIN
*/

main {
    padding-top: 4rem;
}

/*
SECTION INTRODUCTION
*/
main section.introduction {
    padding: 1rem;
}

section.introduction div.cards>div.card {
    width: 100%;
    height: 200px;

    border-radius: 20px;

    margin-bottom: 1rem;
}

section.introduction div.cards>div.card:first-child {
    height: 400px;
}


/*
SECTION PLANNING
*/
main section.planning {
    padding: 1rem;

    /*per la spaziatura con la section antecedente*/
    margin-top: 2rem;
}


section.planning div.box {
    width: 100%;

    /*afterwards it will be possible to remove it*/
    height: 20rem;

    margin-bottom: 1rem;

    /*per capire la dimensione del blocco*/
    border: 1px solid black;
}

section.planning div.box:last-child {
    border-radius: 20px;
}



/*
SECTION TESTIMONIAL
*/
section.testimonial {
    padding: 1rem;
}

section.testimonial div.card {
    margin-bottom: 1rem;
    border-radius: 20px;
}

section.testimonial div.card div.profile-picture {
    border: 1px solid black;
    background-color: white;
    border-radius: 100%;

    height: 135px;
    width: 125px;

}

section.testimonial div.card div.description {
    border: 1px solid black;
    width: 60%;
    height: 3rem;

}


/*
SECTION BENEFICTS
*/

section.beneficts {
    padding: 1rem;
}


section.beneficts div.card {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 1rem;
}


/*
SECTION ABOUT-US
*/
section.about-us {
    padding: 1rem;
}

section.about-us div.box-test {
    width: 100%;
    height: 20rem;

    border: 1px solid black;
    margin-bottom: 1rem;
}

section.about-us div.card {
    border: 1px solid black;
}

/*
SECTION GET-STARTED
*/
main section.get-started {
    padding: 1rem;
}

section.get-started>div.box {
    width: 100%;

    border: 1px solid black;
}

/*
FOOTER
*/
footer {
    background-color: #363636;
    padding: 1rem;

    color: white;
}

footer div.box {
    width: 100%;

    border: 1px solid white;
}

/*
                                                    MEDIA QUERY
*/

/*TABLET*/
@media screen and (min-width: 768px) {

    /*after remove*/
    header {
        background-color: rgb(214, 156, 134);
    }

    /*
    SECTION INTRODUCTION
    */
    section.introduction div.cards>div.card {
        width: calc((100% / 3) - 1rem);
        height: 400px;

        margin-left: 1rem;
    }

    section.introduction div.cards>div.card:first-child {
        width: calc(((100% / 3) * 2) - 1rem);

        height: 400px;
    }

    /*
    SECTION TESTIMONIAL
    */
    section.testimonial div.card {
        flex-direction: row;
    }


    /*
    SECTION BENEFICTS
    */
    section.beneficts div.card {
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }

    /*
    SECTION ABOUT-US
    */

    section.about-us div.container{
        flex-direction: row;
    }

    section.about-us div.box-test {
        margin-right: 2rem;
    }

    /*
    SECTION GET-STARTED
    */
    section.get-started>div.box {
        width: 50%;
        margin: 0 auto;
    }

    /*
    FOOTER
    */
    footer div.box {
        width: 50%;
        margin: 0 auto;
    }

}



/*
DESKTOP
*/
@media only screen and (min-width: 992px) {

    /*afterwards it will be possible to remove it*/
    header {
        background-color: rgb(55, 0, 255);
    }

    .container {
        width: 70%;
        margin: 0 auto;
    }

    /*
    SECTION PLANNING
    */
    section.planning div.container {
        flex-direction: row;
        display: flex;
    }

    section.planning div.container>div.box {
        width: calc((100% / 2) - 1rem);
        margin-right: 1rem;
    }




    main section.background-pink {
        flex-direction: row;
        justify-content: space-between;
    }

    section.background-pink div.box {
        width: 45%;
    }

    /*
    SECTION BENEFICTS
    */
    section.beneficts div.card {
        width: calc((100% / 3) - 1rem);
    }

    /*
    SECTION GET-STARTED
    */
    section.get-started>div.box {
        width: 50%;
        margin: 0 auto;
    }
}